In [3]:
! pip install OpenDartReader

Collecting OpenDartReader
  Using cached OpenDartReader-0.2.3-py3-none-any.whl.metadata (913 bytes)
Requirement already satisfied: pandas>=0.19.2 in c:\users\yunji\anaconda3\lib\site-packages (from OpenDartReader) (2.2.3)
Requirement already satisfied: requests>=2.3.0 in c:\users\yunji\anaconda3\lib\site-packages (from OpenDartReader) (2.32.2)
Requirement already satisfied: requests-file in c:\users\yunji\anaconda3\lib\site-packages (from OpenDartReader) (1.5.1)
Requirement already satisfied: lxml in c:\users\yunji\anaconda3\lib\site-packages (from OpenDartReader) (5.2.1)
Requirement already satisfied: beautifulsoup4 in c:\users\yunji\anaconda3\lib\site-packages (from OpenDartReader) (4.12.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\yunji\anaconda3\lib\site-packages (from pandas>=0.19.2->OpenDartReader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yunji\anaconda3\lib\site-packages (from pandas>=0.19.2->OpenDartReader) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\yunji\anaconda3\lib\site-packages (from pandas>=0.19.2->OpenDartReader) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\yunji\anaconda3\lib\site-packages (from pandas>=0.19.2->OpenDartReader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\yunji\anaconda3\lib\site-packages (from requests>=2.3.0->OpenDartReader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\yunji\anaconda3\lib\site-packages (from requests>=2.3.0->OpenDartReader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\yunji\anaconda3\lib\site-packages (from requests>=2.3.0->OpenDartReader) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\yunji\anaconda3\lib\site-packages (from requests>=2.3.0->OpenDartReader) (2025.6.15)
Requirement already satisfied: soupsieve>1.2 in c:\users\yunji\anaconda3\lib\site-packages (from beautifulsoup4->OpenDartReader) (2.5)
Requirement already satisfied: six in c:\users\yunji\anaconda3\lib\site-packages (from requests-file->OpenDartReader) (1.16.0)
Using cached OpenDartReader-0.2.3-py3-none-any.whl (27 kB)
Installing collected packages: OpenDartReader
Successfully installed OpenDartReader-0.2.3

In [30]:
! pip install --upgrade certifi

Requirement already satisfied: certifi in c:\users\yunji\anaconda3\lib\site-packages (2025.7.9)

In [13]:
import requests
requests.get('https://dart.fss.or.kr', verify=False)

C:\Users\YunJi\anaconda3\Lib\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'dart.fss.or.kr'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

# **여기부터**

In [1]:
api_key = "e1c325dfffc9d9bf64db8a572591d8f869de29b8"

import OpenDartReader as odr
dart = odr(api_key)

In [70]:
# 2022-01-01 ~ 2024-12-31 모든 회사의 모든 공시목록
df1 = dart.list(start='2022-01-01', end='2022-03-31')
df2 = dart.list(start='2022-04-01', end='2022-06-30')
df3 = dart.list(start='2022-07-01', end='2022-09-30')
df4 = dart.list(start='2022-10-01', end='2022-12-31')
df5 = dart.list(start='2023-01-01', end='2023-03-31')
df6 = dart.list(start='2023-04-01', end='2023-06-30')
df7 = dart.list(start='2023-07-01', end='2023-09-30')
df8 = dart.list(start='2023-10-01', end='2023-12-31')
df9 = dart.list(start='2024-01-01', end='2024-03-31')
df10 = dart.list(start='2024-04-01', end='2024-06-30')
df11 = dart.list(start='2024-07-01', end='2024-09-30')
df12 = dart.list(start='2024-10-01', end='2024-12-31')

In [72]:
df1_ri = df1.query("report_nm in ['[기재정정]주요사항보고서(유상증자결정)', '주요사항보고서(유상증자결정)']")
df2_ri = df2.query("report_nm in ['[기재정정]주요사항보고서(유상증자결정)', '주요사항보고서(유상증자결정)']")
df3_ri = df3.query("report_nm in ['[기재정정]주요사항보고서(유상증자결정)', '주요사항보고서(유상증자결정)']")
df4_ri = df4.query("report_nm in ['[기재정정]주요사항보고서(유상증자결정)', '주요사항보고서(유상증자결정)']")
df5_ri = df5.query("report_nm in ['[기재정정]주요사항보고서(유상증자결정)', '주요사항보고서(유상증자결정)']")
df6_ri = df6.query("report_nm in ['[기재정정]주요사항보고서(유상증자결정)', '주요사항보고서(유상증자결정)']")
df7_ri = df7.query("report_nm in ['[기재정정]주요사항보고서(유상증자결정)', '주요사항보고서(유상증자결정)']")
df8_ri = df8.query("report_nm in ['[기재정정]주요사항보고서(유상증자결정)', '주요사항보고서(유상증자결정)']")
df9_ri = df9.query("report_nm in ['[기재정정]주요사항보고서(유상증자결정)', '주요사항보고서(유상증자결정)']")
df10_ri = df10.query("report_nm in ['[기재정정]주요사항보고서(유상증자결정)', '주요사항보고서(유상증자결정)']")
df11_ri = df11.query("report_nm in ['[기재정정]주요사항보고서(유상증자결정)', '주요사항보고서(유상증자결정)']")
df12_ri = df12.query("report_nm in ['[기재정정]주요사항보고서(유상증자결정)', '주요사항보고서(유상증자결정)']")

In [76]:
corp_name = [] # corp_name : 회사명
date = [] # date : 날짜
common_new = [] # common_new : 신주의 수(보통주식)
other_new = [] # other_new : 신주의 수(기타주식) 
for_facility = [] # for_facility : 자금조달목적=시설자금, 필요한 금액
for_acquisition = [] # for_acquisition : 자금조달목적=영업양수자금, 필요한 금액
for_manage = [] # 운영자금
for_repay = [] # 채무상환자금
for_corp = [] # 타법인 증권 취득자금
for_other = [] # 기타자금
way = [] # way : 증자방식

dfs = [df1_ri, df2_ri, df3_ri, df4_ri, df5_ri, df6_ri, df7_ri, df8_ri, df9_ri, df10_ri, df11_ri, df12_ri]


for df in dfs:
    for _, r in df.iterrows():
        detail = dart.event(r['corp_code'], '유상증자')
        dum = detail[detail['rcept_no'] == r['rcept_no']]

        if not dum.empty:
            corp_name.append(dum['corp_name'].iloc[0])
            date.append(dum['rcept_no'].iloc[0][:9])
            common_new.append(dum['nstk_ostk_cnt'].iloc[0])
            other_new.append(dum['nstk_estk_cnt'].iloc[0])
            for_facility.append(dum['fdpp_fclt'].iloc[0])
            for_acquisition.append(dum['fdpp_bsninh'].iloc[0])
            for_manage.append(dum['fdpp_op'].iloc[0])
            for_repay.append(dum['fdpp_dtrp'].iloc[0])
            for_corp.append(dum['fdpp_ocsa'].iloc[0])
            for_other.append(dum['fdpp_etc'].iloc[0])
            way.append(dum['ic_mthn'].iloc[0])
        else:
            corp_name.append(None)
            date.append(None)
            common_new.append(None)
            other_new.append(None)
            for_facility.append(None)
            for_acquisition.append(None)
            for_manage.append(None)
            for_repay.append(None)
            for_corp.append(None)
            for_other.append(None)
            way.append(None)

In [78]:
import pandas as pd
df_final = pd.DataFrame({'corp_name': corp_name, 'date': date, 'common_new':common_new, 'other_new': other_new, 'for_facility': for_facility,
                          'for_acquisition': for_acquisition, 'for_manage': for_manage, 'for_repay': for_repay,
                          'for_corp': for_corp, 'for_other': for_other, 'way': way})
df_final

,corp_name,date,common_new,other_new,for_facility,for_acquisition,for_manage,for_repay,for_corp,for_other,way
0,삼부토건,202203310,"116,106",-,-,-,-,-,-,-,제3자배정증자
1,비덴트,202203310,-,"1,536,099",-,-,-,-,"30,000,013,470",-,제3자배정증자
2,인바이오젠,202203310,-,"8,086,254",-,-,-,-,"30,000,002,340",-,제3자배정증자
3,더테크놀로지,202203310,"564,015",-,-,-,-,-,"999,998,595",-,제3자배정증자
4,로보쓰리에이아이,202203300,"737,463",-,-,-,"499,999,914",-,-,-,제3자배정증자
...,...,...,...,...,...,...,...,...,...,...,...
1602,DH오토넥스,202410040,"198,071,807",-,-,-,-,-,-,-,제3자배정증자
1603,에스케이온,202410020,"18,031,337",-,-,-,-,"999,999,918,683",-,-,제3자배정증자
1604,스타코링크,202410020,"1,177,856",-,-,-,"999,999,744",-,-,-,제3자배정증자
1605,코람코라이프인프라리츠,202410020,"8,800,880",-,-,-,-,-,"37,327,500,000","2,232,455,600",주주배정후 실권주 일반공모
1606,이지스레지던스리츠,202410020,"8,507,585",-,-,-,"988,519,600","31,000,000,000",-,-,주주배정후 실권주 일반공모

In [80]:
df_final.to_excel("유상증자정리.xlsx", index=False)

In [21]:
import pandas as pd
df = pd.read_excel("유상증자정리.xlsx")
df['date'] = df['date'].astype(str).str[0:8]
df['date'] = pd.to_numeric(df['date'], errors='coerce')

df['common_new'] = df['common_new'].astype(str).str.replace(',', '', regex=False)
df['common_new'] = pd.to_numeric(df['common_new'], errors='coerce')

df['other_new'] = df['other_new'].astype(str).str.replace(',', '', regex=False)
df['other_new'] = pd.to_numeric(df['other_new'], errors='coerce')

df['for_facility'] = df['for_facility'].astype(str).str.replace(',', '', regex=False)
df['for_facility'] = pd.to_numeric(df['for_facility'], errors='coerce')

df['for_acquisition'] = df['for_acquisition'].astype(str).str.replace(',', '', regex=False)
df['for_acquisition'] = pd.to_numeric(df['for_acquisition'], errors='coerce')

df['for_manage'] = df['for_manage'].astype(str).str.replace(',', '', regex=False)
df['for_manage'] = pd.to_numeric(df['for_manage'], errors='coerce')

df['for_repay'] = df['for_repay'].astype(str).str.replace(',', '', regex=False)
df['for_repay'] = pd.to_numeric(df['for_repay'], errors='coerce')

df['for_corp'] = df['for_corp'].astype(str).str.replace(',', '', regex=False)
df['for_corp'] = pd.to_numeric(df['for_corp'], errors='coerce')

df['for_other'] = df['for_other'].astype(str).str.replace(',', '', regex=False)
df['for_other'] = pd.to_numeric(df['for_other'], errors='coerce')

df

,corp_name,date,common_new,other_new,for_facility,for_acquisition,for_manage,for_repay,for_corp,for_other,way
0,삼부토건,20220331.0,116106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,제3자배정증자
1,비덴트,20220331.0,NaN,1536099.0,NaN,NaN,NaN,NaN,3.000001e+10,NaN,제3자배정증자
2,인바이오젠,20220331.0,NaN,8086254.0,NaN,NaN,NaN,NaN,3.000000e+10,NaN,제3자배정증자
3,더테크놀로지,20220331.0,564015.0,NaN,NaN,NaN,NaN,NaN,9.999986e+08,NaN,제3자배정증자
4,로보쓰리에이아이,20220330.0,737463.0,NaN,NaN,NaN,499999914.0,NaN,NaN,NaN,제3자배정증자
...,...,...,...,...,...,...,...,...,...,...,...
1602,DH오토넥스,20241004.0,198071807.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,제3자배정증자
1603,에스케이온,20241002.0,18031337.0,NaN,NaN,NaN,NaN,9.999999e+11,NaN,NaN,제3자배정증자
1604,스타코링크,20241002.0,1177856.0,NaN,NaN,NaN,999999744.0,NaN,NaN,NaN,제3자배정증자
1605,코람코라이프인프라리츠,20241002.0,8800880.0,NaN,NaN,NaN,NaN,NaN,3.732750e+10,2.232456e+09,주주배정후 실권주 일반공모
1606,이지스레지던스리츠,20241002.0,8507585.0,NaN,NaN,NaN,988519600.0,3.100000e+10,NaN,NaN,주주배정후 실권주 일반공모

In [23]:
df.to_excel("유상증자정리(최종).xlsx", index=False)

In [46]:
dart.event('01514698', '유상증자')
dart.find_corp_code('엑스플러스')

'01514698'